@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if(User.IsConnected())
    {
        <h1 class="display-4">Welcome @User.GetUsername() to Paddle Tournament</h1>
    }
    else
    {
        <h1 class="display-4">Welcome to Paddle Tournament</h1>
    }
    <p>With Paddle Tournament, you can take a look at the score of your favorite teams matches</p>
    <p>You can do more! Connect to the site as a player to put your score in the site</p>
    <p>and tournament managing when your are the administrator the team.</p>
    <p>Don't have an account yet? Create one with the following <a asp-controller="User" asp-action="Register">Sign up here</a> link.</p>
</div>
