@model PaddleTournament.WebApi.Models.Team.RegisterTeamFromDto
<h1>Veuillez Creez votre Equipe</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="RegisterTeam">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="PlayerNameA" class="control-label"></label>
                <input asp-for="PlayerNameA" class="form-control" />
                <span asp-validation-for="PlayerNameA" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="PlayerNameB" class="control-label"></label>
                <input asp-for="PlayerNameB" class="form-control" />
                <span asp-validation-for="PlayerNameB" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


